* {
  font-family: 'VT323', monospace;
}

body{
    height: 95vh;
    background: #E5E5E5;
    
}

.description{
    color: black;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: white;
    width: 40%;
    padding: 3%;
    border-radius: 6%;
    border: 2px solid green;
}

.container{
    height: 90vh;
    margin: auto;
}

.game-board{
    display: flex;
    justify-content: space-between;
}

.player-one-board, .player-two-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    font-size: 1.5rem;
}

#winner1, #winner2 {
  font-size: 2rem;
  color: #3D6FFF;
  padding: 5%;
  background-color: white;
  border-radius: 15px;
}
    

h1{
    color: black(176, 240, 56);
}

h2{
    font-size: 3rem;
    color: green;
    margin-top: -10px;
    font-size: 4rem;
}

button {
  padding: 15px;
  margin: auto;
  display: flex;
  margin-top: 10%;
  border-radius: 15%;
  border: none;
  background-color: smokegrey;
  font-size: 1.5rem;
  color: green;
  border: 2px solid black;
}

#Countdown {
  margin-top: 5%;
  color: white;
  font-size: 3rem;
}


